
body {
    background-color: #ffffff;
    color: #000000;
}
ul {
    list-style: none;

}
.site-nav .link {
    color: #212121; ;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:  #2196F3;}
/* Hero */
.hero-title {
color:  #FFFFFF;
}
/* Section */
.section-title{
    color: #212121;
}
/* Advantages */
.advantage-list .title{
    color: #212121;
}




/* цвета web color: #2196F3; studio #000000;*/
/* цвет основного текста #000000 */
/* эффективные решения,  цвет color: #FFFFFF; */
/* заказать услугу background: #2196F3; */
/* особенности цвет color: #212121; */
/* телефон, преимущества цвет color: #757575; */
/* заголовки цвет color: #212121; */
/* вторчный фон наша команда background: #F5F4FA; */
/* подвал цвет background: #2F303A; */
